{% extends "app/base.html" %}
{% block content %}
{% load static %}
<body>
  <div id="features" class="section wb">
    <div class="container">
      <div class="section-title row text-center">
        <div class="col-md-8 col-md-offset-2">
          <small>All Awesome Property Details</small>
          <h3>Property Details</h3>
          <p class="lead">
            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
            vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
            dignissim.
          </p>
        </div>
        <!-- end col -->
      </div>
      <!-- end title -->
      <div class="property-detail row clearfix">
        <div class="col-md-2 col-sm-3 col-xs-6">
          <i class="flaticon-coupon effect-1"></i>
          <h4>Square Feet : {{object.squareFeet}}</h4>
        </div>
        <!-- end col -->
        <div class="col-md-2 col-sm-3 col-xs-6">
          <i class="flaticon-family-room effect-1"></i>
          <h4>Ideal for Family</h4>
        </div>
        <!-- end col -->
        <div class="col-md-2 col-sm-3 col-xs-6">
          <i class="flaticon-house effect-1"></i>
          <h4>Garage : {{object.garage}}</h4>
        </div>
        <!-- end col -->
        <div class="col-md-2 col-sm-3 col-xs-6">
          <i class="flaticon-full-bed effect-1"></i>
          <h4>Bedrooms : {{object.bedrooms}}</h4>
        </div>
        <!-- end col -->
        <div class="col-md-2 col-sm-3 col-xs-6">
          <i class="flaticon-swimming-pool effect-1"></i>
          <h4>Pool : {{object.get_pool_display}}</h4>
        </div>
        <!-- end col -->
        <div class="col-md-2 col-sm-3 col-xs-6">
          <i class="flaticon-calendar effect-1"></i>
          <h4>Build in : {{object.build}}</h4>
        </div>
        <!-- end col -->
      </div>
      <!-- end how-its-work -->
      <hr class="invis" />
      <div class="row text-center">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
              <img
                src="{{object.image.url}}" 
                alt="{{object.title}}"
                class="img-responsive img-rounded"
              />
            </div>
            <h3>{{object.title}}</h3>
            <p>
              {{object.content}}
            </p>
          </div>
          <!-- end service -->
          <!-- end service -->
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <div class="sep1"></div>
  </div>
  <script src="{% static 'app/js/all.js' %}"></script> 
  <!-- ALL PLUGINS -->
  <script src="{% static 'app/js/custom.js' %}"></script>
  <script src="{% static 'app/js/portfolio.js' %}"></script>
  <script src="{% static 'app/js/hoverdir.js' %}"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <!-- MAP & CONTACT -->
  <script src="{% static 'app/js/map.js' %}"></script>
</body>
{% endblock content %}
