{% extends "app/base.html" %}
{% block content %}
{% load static %}
<div
  id="agent"
  class="parallax section db parallax-off"
  style="background-image: url('{% static 'app/uploads/parallax_02.png' %}')" 
>
  <div class="container" id="agent">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>Agent Details</h3>
        <p class="lead">
          Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
          vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
          dignissim.
        </p>
      </div>
      <!-- end col -->
    </div>
    <!-- end title -->
    <div class="row">
      <div class="col-md-3">
        <div class="post-media wow fadeIn">
          <img
            src="{% static 'app/uploads/agent.jpg' %}" 
            alt=""
            class="img-responsive img-rounded"
          />
          <a
            href="http://www.youtube.com/watch?v=nrJtHemSPW4"
            data-rel="prettyPhoto[gal]"
            class="playbutton"
            ><i class="flaticon-play-button"></i
          ></a>
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
        <div class="message-box">
          <h4>The Agent</h4>
          <h2>Jenny Martines</h2>
          <p class="lead">
            Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
            vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
            dignissim.
          </p>
          <p>
            Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis
            nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus
            molestie. Cum sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus.
          </p>
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-3">
        <div class="agencies_meta clearfix">
          <span
            ><i class="fa fa-envelope"></i>
            <a href="mailto:support@sitename.com">support@sitename.com</a></span
          >
          <span
            ><i class="fa fa-link"></i> <a href="#">www.sitename.com</a></span
          >
          <span><i class="fa fa-phone-square"></i> +1 232 444 55 66</span>
          <span><i class="fa fa-print"></i> +1 232 444 55 66</span>
          <span
            ><i class="fa fa-facebook-square"></i>
            <a href="#">facebook.com/tagline</a></span
          >
          <span
            ><i class="fa fa-twitter-square"></i>
            <a href="#">twitter.com/tagline</a></span
          >
          <span
            ><i class="fa fa-linkedin-square"></i>
            <a href="#">linkedin.com/tagline</a></span
          >
        </div>
        <!-- end agencies_meta -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</div>
{% include "helpers/includes/admin_menu.html" %}
<div id="gallery" class="section wb">
  <div class="sep2"></div>
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>Property Gallery</h3>
        <p class="lead">
          Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
          vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
          dignissim.
        </p>
      </div>
      <!-- end col -->
    </div>
    <!-- end title -->
    <div id="da-thumbs" class="da-thumbs portfolio">
      {% load gallery %} {% galleries as gallery %}
      {% for house in gallery %}
      <div class="post-media pitem item-w1 item-h1 cat1">
        <a href="{% url 'property_gallery' house.id %}">
          <img src="{{house.image.url}}" alt="{{house.title}}" class="img-responsive" /> 
          <div>
            <i class="flaticon-unlink"></i>
          </div>
        </a>
      </div>
      {% endfor %}
    <!-- end portfolio -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
<div id="testimonials" class="section lb">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>Happy Customers</h3>
        <p class="lead">
          Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis
          vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus
          dignissim.
        </p>
      </div>
      <!-- end col -->
    </div>
    <!-- end title -->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="testi-carousel owl-carousel owl-theme">
          <!-- end testimonial -->
          <!-- end testimonial -->
          <!-- end testimonial -->
          <!-- end testimonial -->
          <!-- end testimonial -->
          {% load contact_clients %} {% contact_clients as clients %}
          {% for client in clients %}
          <div class="testimonial clearfix">
            <div class="desc">
              <h3><i class="fa fa-quote-left"></i>{{client.titleReview}}</h3>
              <p class="lead">
                {{client.content}}
              </p>
            </div>
            <div class="testi-meta">
              <img
                src="{% static 'app/uploads/testi_03.png' %}" 
                alt=""
                class="img-responsive alignleft"
              />
              <h4>{{client.firstName}} {{client.lastName}}<small>- {{client.address}}</small></h4>
            </div>
            <!-- end testi-meta -->
          </div>
          {% endfor %}
          <!-- end testimonial -->
        </div>
        <!-- end carousel -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
{% if request.user.is_authenticated %}
{% load contact_appointment %} {% contact_appointment %}
{% endif %}
<!-- end section -->
{% endblock content %}
