{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<style>
  .errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
  }

  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

  .register-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }

  .register-box h3 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
    text-align: center;
  }

  .register-box .form-control {
    border-radius: 5px;
    margin-bottom: 20px; /* Añade espacio entre los inputs */
  }

  .register-box .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
  }

  .register-box .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .register-box .form-group {
    margin-bottom: 15px;
  }

  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
</style>

<div class="container register-container" id="register">
  <div class="register-box">
    <form action="" method="post">
      {% csrf_token %}
      <h3>Registro</h3>

      {% if form.errors %}
      <div class="error-message">
        <ul class="errorlist">
          {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {{ form.username }}
      {{ form.email }}
      {{ form.password1 }}
      {{ form.password2 }}

      <button type="submit" class="btn btn-primary btn-block mt-4">Confirmar</button>
    </form>
  </div>
</div>
{% endblock %}
