{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <div id="features" class="section wb">
      <div class="container">
        <div class="section-title row text-center">
          <div class="col-md-8 col-md-offset-2">
            <small>Everything went well</small>
            <h3>Status 200</h3>
            <p class="lead">
            Your order has been successfully sent to the database. We will contact you shortly. Please keep an eye on your email and WhatsApp.
            </p>
          </div>
          <!-- end col -->
        </div>
        <!-- end title -->
        <!-- end how-its-work -->
        <hr class="invis" />
        <div class="row text-center">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-widget">
              <div class="post-media wow fadeIn">
                <a
                  href="{{% static 'app/images/logos/logo.png' %}" 
                  data-rel="prettyPhoto[gal]"
                  class="hoverbutton global-radius"
                  ><i class="flaticon-unlink"></i
                ></a>
                <img
                  alt=""
                  class="img-responsive img-rounded"
                />
              </div>
              <h3>Spacious and Large Garden</h3>
              <p>
                Aliquam sagittis ligula et sem lacinia, ut facilisis enim
                sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis
                posuere sapien. Cum sociis natoque.
              </p>
            </div>
            <!-- end service -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-widget">
              <div class="post-media wow fadeIn">
                <a
                  href="{% static 'app/uploads/estate_03.jpg' %}" 
                  data-rel="prettyPhoto[gal]"
                  class="hoverbutton global-radius"
                  ><i class="flaticon-unlink"></i
                ></a>
                <img 
                  alt=""
                  class="img-responsive img-rounded"
                />
              </div>
              <h3>With its Own Pool</h3>
              <p>
                Duis at tellus at dui tincidunt scelerisque nec sed felis.
                Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum
                fermentum erat. It nam auctor.
              </p>
            </div>
            <!-- end service -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-widget">
              <div class="post-media wow fadeIn">
                <a
                  href="{% static 'app/uploads/estate_02.jpg' %}" 
                  data-rel="prettyPhoto[gal]"
                  class="hoverbutton global-radius"
                  ><i class="flaticon-unlink"></i
                ></a>
                <img
                  alt=""
                  class="img-responsive img-rounded"
                />
              </div>
              <h3>In Forests- Fresh Clean Air</h3>
              <p>
                Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit
                amet lacus vitae massa sodales aliquam at eget quam. Integer
                ultricies et magna quis.
              </p>
            </div>
            <!-- end service -->
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
      <div class="sep1"></div>
    </div>
    <script src="{% static 'app/js/all.js' %}"></script> 
    <!-- ALL PLUGINS -->
    <script src="{% static 'app/js/custom.js' %}"></script>
    <script src="{% static 'app/js/portfolio.js' %}"></script>
    <script src="{% static 'app/js/hoverdir.js' %}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <!-- MAP & CONTACT -->
    <script src="{% static 'app/js/map.js' %}"></script>
  {% endblock content %}