<div id="support" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Can put one review</h3>
      <p class="lead">
        Let us give you more details about the special offer website you want
        us. Please fill out the form below. <br />We have million of website
        owners who happy to work with us!
      </p>
    </div>
    <!-- end title -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="contact_form">
          <div id="message"></div>
          <form id="contactform1" class="row" method="post">
            {% csrf_token %}
            <fieldset class="row-fluid">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form.titleReview }}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form.address }}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form.firstName }}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form.lastName }}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form.email }}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form.phoneNumber }}
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form.content }}
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button
                  type="submit"
                  id="submit1"
                  class="btn btn-light btn-radius btn-brd grd1 btn-block"
                >
                  Get an Appointment
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
